[user]
  name = karuru6225
  email = e2hjhi@gmail.com
[credential]
  helper = store --file /tmp/credentials/.git-credentials
[alias]
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[core]
  pager = LESSCHARSET=utf-8 less
